<h1>Posts</h1>
<%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody id="posts-container" data-controller="infinite-scroll" data-infinite-scroll-endpoint="<%= posts_path(format: :js) %>">
    <%= render @posts %>
  </tbody>
</table>

<div id="loading-indicator" style="display: none;">Loading...</div>
